<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Transferência</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script>
   	
    function moeda(z){  		
   	    v = z.value;		
   	    v=v.replace(/\D/g,"")  //permite digitar apenas números	
   	    v=v.replace(/[0-9]{12}/,"inválido")   //limita pra máximo 999.999.999,99	
   	    v=v.replace(/(\d{1})(\d{8})$/,"$1.$2")   //coloca ponto antes dos últimos 8 digitos	
   	    v=v.replace(/(\d{1})(\d{5})$/,"$1.$2")   //coloca ponto antes dos últimos 5 digitos	
   	    v=v.replace(/(\d{1})(\d{1,2})$/,"$1,$2")  //coloca virgula antes dos últimos 2 digitos		

   	    z.value = v;		
    }
    </script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Transferência</strong>
        </div>
         <div class="form-group row" style="display:${not empty msgStatusTransferencia}">
            <div class="alert alert-danger">
                    <span th:text="${msgStatusTransferencia}"></span>
            </div>
        </div>   
        
        <div class="panel-body">
            <form class="form-horizontal" th:object="${transferencia}" th:action="@{/confirmarTransferencia}" method="POST" style="margin: 10px">
                <div class="form-group">
                    <fieldset>
                        <div class="form-group row">
                            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                                <div th:each="detailedError : ${#fields.detailedErrors()}">
                                    <span th:text="${detailedError.message}"></span>
                                </div>
                            </div>
                        </div>          
                      
                        
                        <input type="hidden" id="contaOrigem.id" name="contaOrigem.id" th:value="${contaOrigem.id}" />
                                  
                        <div class="form-group row">
                            <div class="col-md-4">
                            	<span>Dados da Conta de Origem:</span>
                            	<span th:utext="${dadosContaOrigem}"></span>
                            </div>
                         </div>
                         <div class="form-group row">                                                          
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('contaDestino.agencia.numero')}? 'has-error'">
                                <label>Agência</label>
                                <input type="text" class="form-control input-sm" th:field="*{contaDestino.agencia.numero}" autofocus="autofocus" placeholder="Número da agência" maxlength="20" required="required"/>
                            </div>
                        
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('contaDestino.agencia.digito')}? 'has-error'">
                                <label>Dígito</label> 
                                <input type="text" class="form-control input-sm" th:field="*{contaDestino.agencia.digito}" maxlength="1" placeholder="Dígito da agencia" required="required"/>
                            </div>
                        </div>
                         
                        <div class="form-group row">                                                          
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('contaDestino.numero')}? 'has-error'">
                                <label>Conta Corrente</label>
                                <input type="text" class="form-control input-sm" th:field="*{contaDestino.numero}" placeholder="Número da conta" maxlength="20" required="required"/>
                            </div>
                        
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('contaDestino.digito')}? 'has-error'">
                                <label>Dígito</label> 
                                <input type="text" class="form-control input-sm" th:field="*{contaDestino.digito}" maxlength="1" placeholder="Dígito da conta" required="required"/>
                            </div>
                        </div>   
                        
                        <div class="form-group row">                                                          
                            <div class="col-md-2" th:classappend="${#fields.hasErrors('valor')}? 'has-error'">
                                <label>Valor</label>
                                <input type="text" class="form-control input-sm" th:field="*{valorFormatado}" placeholder="Número da conta" 
                                    maxlength="20" required="required" onkeyup="moeda(this)"/>
                            </div>
                        </div>  
                        
                    </fieldset>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-sm btn-primary">Confirmar Transferência</button>
                    <a th:href="@{/admin/home}" class="btn btn-sm btn-default">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>