<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<form th:action="@{/}" method="get">
		<button class="btn-back btn btn-md btn-warning" type="Submit">Voltar para o <b>Login</b></button>
	</form>
	<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="230" alt="Logo" />
	
	<div class="container">
		<div class="row">
			<div class="col-md-6" style="margin-left:31%;">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${clienteDTO}" method="post" class="form-horizontal"
					role="form">
					<h2>Registration Form</h2>
					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
								   class="validation-message"></label>
							<input type="text" th:field="*{nome}" placeholder="Nome"
								   class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"
								   class="validation-message"></label>
							<input type="text" th:field="*{endereco}" placeholder="Endereço"
								   class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								   class="validation-message"></label>
							<input type="text" th:field="*{email}" placeholder="E-mail"
								   class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
								class="validation-message"></label>
						<input type="text" th:field="*{cpf}" placeholder="CPF"
								class="form-control" /> 
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" th:field="*{senha}"
								placeholder="Senha" class="form-control" /> <label
								th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"
								class="validation-message"></label>
						</div>
					</div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label class="validation-message" th:if="${#fields.hasErrors('agenciaId')}" th:errors="*{agenciaId}"></label>
                            <select type="text" th:field="*{agenciaId}" class="form-control" >
                                <option value="" selected="selected">Selecione uma Agência</option>
                                <option th:each="agencia : ${agencias}" th:value="${agencia.id}" th:text="${agencia.numero}"></option>
                            </select>
                        </div>
                    </div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Registrar Usuário</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
			</div>
		</div>
	</div>

</body>
</html>